@page "/"

<h1>
    SISTEMA DE UBICACIONES VH
</h1>

<div class="container-fluid">
    <p class="float-lg-right">
        <span class="oi oi-target" style="font-size:60px"></span>
    </p>
    <p class="h4">
        Bienvenido a tu sistema de Inventario
    </p>
</div>